@model BracketzApp.Models.Bracket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bracket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreTeam1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreTeam1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreTeam2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreTeam2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Index)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Index)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFinished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Game)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parent.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
