@model IEnumerable<BracketzApp.Models.Tournament>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Game</h6>
                        <span class="badge badge-pill badge-primary">@item.TournamentFormat.Name</span>
                        <span class="badge badge-pill badge-info">Best of @item.NOfGames</span>
                        <p>Date: @item.Date</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="font-size: 11px;" class="card-text">Created by @item.User.UserName</p>
                        <form id="@item.Id" class="joinTournamentForm" asp-controller="Tournament" asp-action="Join" style="display: inline-block;">
                            <select name="TeamId" class="form-control" asp-items="@ViewBag.ApplicableTeams[item.Id]" style="height: 40px;"></select>
                            <input type="hidden" name="TournamentId" value="@item.Id" />
                        </form>
                        <a onclick="document.getElementById('@item.Id').submit();" href="#" class="card-link joinTournamentButton">Join</a>
                        <a asp-action="Inspect" asp-route-id="@item.Id" class="card-link">Brackets</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
