@using Microsoft.AspNetCore.Routing
@using BracketzApp.Controllers
@model BracketzApp.Models.Tournament

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>Tournament</h2>

<div>
    <h3>Signed up teams:</h3>

    <ul class="list-inline">
        @foreach (var team in ViewBag.teams)
        {
        <li class="list-inline-item">
            <a href="@Url.Action("Details", "Team", new RouteValueDictionary{ {"id", @team.TeamId} } )">@team.Name</a>
        </li>            
        }
    </ul>

    <div class="mt-3">
        <form asp-controller="Tournament" asp-action="Generate" method="POST">
            <input type="hidden" name="TournamentId" value="@this.Model.Id" />
            <input id="generate" class="btn btn-primary" type="submit" value="Generate brackets" />
        </form>
        <p id="nOfTeamsMessage" style="visibility: hidden">Number of teams must be power of 2 to generate brackets.</p>
    </div>
</div>

<div id="drawContainer">
    <canvas id="drawCanvas" width="1200" height="800">
    </canvas>
    <menu id="controls">
    </menu>
</div>

<script>
let baseUrl = "https://localhost:5001/Bracket/";

let ctrls = document.getElementById("controls");

function powerOfTwo(x) {
    return ((x != 0) && !(x & (x - 1)));
}

let msg = document.getElementById("nOfTeamsMessage");
let nOfTeams = @ViewBag.Teams.Count;
let isPowerOfTwo = powerOfTwo(nOfTeams);
console.log(isPowerOfTwo);
if (!isPowerOfTwo || nOfTeams < 2) {
    let button = document.getElementById("generate");
    button.disabled = true;
    msg.style.visibility = "visible";
} else {
    msg.style.visibility = "hidden";
}

// parse data from C# to JS object
let temp_brackets = [];
let bracket;
let team1;
let team2;
let i = 0;
@foreach (var bracket in ViewBag.brackets)
{
    @: bracket = {};
    @: team1 = {};
    @: team2 = {};
    @: bracket["Id"] = @bracket.Value.Id;
    @: bracket["ScoreTeam1"] = @bracket.Value.ScoreTeam1;
    @: bracket["ScoreTeam2"] = @bracket.Value.ScoreTeam2;
    @: bracket["Index"] = @bracket.Value.Index;
    if (bracket.Value.IsFinished == false)
    {
        @: bracket["IsFinished"] = false;
    }
    else
    {
        @: bracket["IsFinished"] = true;
    }
    if (bracket.Value.Team1 != null)
    {
        @: team1["TeamId"] = @bracket.Value.Team1?.TeamId;
        @: team1["Name"] = '@bracket.Value.Team1?.Name';
    }
    else
    {
        @: team1["TeamId"] = null;
        @: team1["Name"] = null;
    }
    @: bracket["Team1"] = team1;
    if (bracket.Value.Team2 != null)
    {
        @: team2["TeamId"] = @bracket.Value.Team2?.TeamId;
        @: team2["Name"] = '@bracket.Value.Team2?.Name';
    }
    else
    {
        @: team2["TeamId"] = null;
        @: team2["Name"] = null;
    }
    @: bracket["Team2"] = team2;
    @: bracket["TournamentId"] = @bracket.Value.TournamentId;
    @: bracket["ParentIndex"] = @bracket.Value.ParentIndex;
    @: temp_brackets.push(bracket);
    @: i++;
}

// rearrange objects in array so they have proper indexes
let brackets = []
for (let i = 0; i < temp_brackets.length; i++) {
    let realIndex = temp_brackets[i]["Index"];
    brackets[realIndex] = temp_brackets[i];
}
console.log(brackets);

let canvas = document.getElementById("drawCanvas");
let ctx = canvas.getContext("2d");
ctx.font = "15px Arial";

let round = 1;
let drawHeight = canvas.height;
let drawWidth = canvas.width;

    drawChildren(0, 1, drawHeight / 2);

    function redraw() {
    while (ctrls.firstChild) {
        ctrls.removeChild(ctrls.lastChild);
    }
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    drawChildren(0, 1, drawHeight / 2);
}

function drawChildren(index, round, y) {
    if (round > Math.log10(brackets.length + 1) / Math.log10(2)) return;
    let xOffset = drawWidth / (Math.log10(brackets.length + 1) / Math.log10(2));
    ctx.fillText(brackets[index]["Team1"]["Name"] || '/', (round-1) * xOffset+10, y);
    ctx.fillText(brackets[index]["ScoreTeam1"], (round-1) * xOffset+10 + 200, y);
    ctx.fillText(brackets[index]["Team2"]["Name"] || '/', (round-1) * xOffset+10, y+15);
    ctx.fillText(brackets[index]["ScoreTeam2"], (round-1) * xOffset+10 + 200, y+15);
    ctx.beginPath();
    ctx.rect((round - 1) * xOffset + 5, y - 20, 220, 45);
    ctx.stroke();

    let addTeam1 = document.createElement('button');
    ctrls.appendChild(addTeam1);
    addTeam1.disabled = (brackets[index]["IsFinished"]);
    addTeam1.classList.add("canvasButton");
    addTeam1.style.position = "absolute";
    addTeam1.classList.add("btn");
    addTeam1.classList.add("btn-primary");
    addTeam1.style.zIndex = 2;
    addTeam1.style.left = (round - 1) * xOffset + 227 + "px";
    addTeam1.style.height = 23 + "px";
    addTeam1.style.top = (y - 20 + 15) - 800 + "px";
    addTeam1.style.width = 24 + "px";
    addTeam1.innerText = "+";

    addTeam1.addEventListener('click', event => {
        let t = $("input[name='__RequestVerificationToken']").val();
        $.ajax({
            url: baseUrl + "UpdateScore",
            type: 'Post',
            headers:
            {
                "RequestVerificationToken": t
            },
            data: {
                BracketId: brackets[index]["Id"],
                ScoreTeam1: brackets[index]["ScoreTeam1"] + 1,
                ScoreTeam2: brackets[index]["ScoreTeam2"]
            },
            success: function (msg) {
                brackets[index]["ScoreTeam1"]++;
                redraw();
            }
        });
    });

    let addTeam2 = document.createElement('button');
    ctrls.appendChild(addTeam2);
    addTeam2.disabled = (brackets[index]["IsFinished"]);
    addTeam2.classList.add("canvasButton");
    addTeam2.classList.add("btn");
    addTeam2.classList.add("btn-primary");
    addTeam2.style.position = "absolute";
    addTeam2.style.zIndex = 2;
    addTeam2.style.left = (round - 1) * xOffset + 227 + "px";
    addTeam2.style.height = 23 + "px";
    addTeam2.style.top = (y - 20 + 39) - 800 + "px";
    addTeam2.style.width = 24 + "px";
    addTeam2.innerText = "+";

    addTeam2.addEventListener('click', event => {
        let t = $("input[name='__RequestVerificationToken']").val();
        $.ajax({
            url: baseUrl + "UpdateScore",
            type: 'Post',
            headers:
            {
                "RequestVerificationToken": t
            },
            data: {
                BracketId: brackets[index]["Id"],
                ScoreTeam1: brackets[index]["ScoreTeam1"],
                ScoreTeam2: brackets[index]["ScoreTeam2"] + 1
            },
            success: function (msg) {
                brackets[index]["ScoreTeam2"]++;
                redraw();
            }
        });
    });

    let finish = document.createElement('button');
    ctrls.appendChild(finish);
    finish.disabled = (brackets[index]["ScoreTeam1"] === brackets[index]["ScoreTeam2"] || brackets[index]["IsFinished"]);
    finish.classList.add("canvasButton");
    finish.classList.add("btn");
    finish.classList.add("btn-primary");
    finish.style.position = "absolute";
    finish.style.zIndex = 2;
    finish.style.left = (round - 1) * xOffset - 23 + "px";
    finish.style.height = 47 + "px";
    finish.style.top = (y - 5) - 800 + "px";
    finish.style.width = 24 + "px";
    finish.innerText = "<";

    finish.addEventListener('click', event => {
        let t = $("input[name='__RequestVerificationToken']").val();
        $.ajax({
            url: baseUrl + "MarkFinished",
            type: 'Post',
            headers:
            {
                "RequestVerificationToken": t
            },
            data: {
                BracketId: brackets[index]["Id"]
            },
            success: function (msg) {
                console.log(msg);
                brackets[index]["IsFinished"] = true;
                redraw();
            }
        });
    });

    if (!(round === Math.log10(brackets.length + 1) / Math.log10(2))) {
        ctx.beginPath();
        ctx.moveTo((round-1) * xOffset + 230, y);
        ctx.lineTo((round-1) * xOffset + 410, y);
        ctx.stroke();

        ctx.beginPath();
        ctx.moveTo((round-1) * xOffset + 410, (y - drawHeight / Math.pow(round + 1, 2)) + 30);
        ctx.lineTo((round-1) * xOffset + 410, (y + drawHeight / Math.pow(round + 1, 2)) - 30);
        ctx.stroke();
    }

    drawChildren(index * 2 + 1, round + 1, y - drawHeight / Math.pow(round + 1, 2));
    drawChildren(index * 2 + 2, round + 1, y + drawHeight / Math.pow(round + 1, 2));
}

</script>