@using Microsoft.AspNetCore.Routing
@using BracketzApp.Controllers
@model BracketzApp.Models.Tournament

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>Tournament</h2>

<h3>Signed up teams:</h3>
@foreach (var team in ViewBag.teams)
{
    <div>
        <a href="@Url.Action("Details", "Team", new RouteValueDictionary{ {"id", @team.TeamId} } )">@team.Name</a>
    </div>
}

<form asp-controller="Tournament" asp-action="Generate" method="POST">
    <input type="hidden" name="TournamentId" value="@this.Model.Id"/>
    <input type="submit" value="Generate brackets" />
</form>
<canvas id="canvas" width="1200" height="800">
    
</canvas>  

<script>
let x = @ViewBag.brackets;

</script>